body{
    background: url(img/fond_ecran.jfif);
    background-repeat: no-repeat;
    width: 1920px;
}




.fas{
    color: red;
}

.fa-brands{
    color: red;
}

h2{
    color: red;
}

p{
    font: 120% large serif ;
    font-weight: 750;
    
}

h6{
    color: red;
}

.dark {
    background-color: rgb(60, 60, 60);
    color: white;
}


